{% extends "layout.html" %}
<legend class="border-bottom mb-4">Add Items to Your Fridge!</legend>
<style>
    .content-section {
        padding-bottom: 10px;
    }
</style>
{% block content %}
    {% for item in form %}
    <div class="content-section">
        <form method="POST" action="">
                {{ item.hidden_tag() }}
                <fieldset class="form-group">
                    </div>
                    <div class="form-group">
                        {{ item.food_item.label(class="form-control-label") }}
                        {{ item.food_item(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ item.exp_date.label(class="form-control-label") }}
                        {{ item.exp_date(class="form-control form-control-lg") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ item.submit(class="btn btn-outline-info") }}
                </div>
    {% endfor %}
        </form>
    </div>
{% endblock content %}
<div class="border-top pt-3">
        <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{{ url_for('home') }}">Sign In</a>
        </small>
</div>
